nav {
  background-color: #111;
  padding: 1.5rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav a {
  color: #f4f4f4;
  font-size: 1.4rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 600;
  text-decoration: none;
  position: relative;
  margin-left: 1.5rem;
  transition: transform 0.3s ease;
  padding-bottom: 3px;
}

nav .left a {
  text-transform: uppercase;
  font-size: 1.8rem;
  margin: 0;
}

nav a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ff4655;
  transform: scaleX(0);
  transform-origin: top left;
  transition: transform 0.3s ease;
}

nav a:hover {
  color: #ff4655;
}

nav a:hover::before {
  transform: scaleX(1);
}
